*, ::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: rgba(238, 238, 238, 0.315);   
}
ul{
    list-style-type: none;
}

.container{
    width: 45%;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.flex-gap{
    gap: 1rem;
}

.square{
    width: 60px;
    height: 60px;
    background-color: blueviolet;
}

.bull{
    color: rgb(0, 128, 68);
}

.bear{
    color: brown;
}

.main-container{
    padding: 4rem;
}

.record-container{
    margin-top: .8rem;
}

.record{
    background-color: white;
    box-shadow: 0 2px 10px 2px rgba(160, 160, 160, 0.26) ;
    padding: .6rem 1rem;
    /* max-width: 45%; */
    border-radius: 8px;
}

.record.flex{
    flex-direction: column;
    gap: 1rem;
}

.record-item div h5{
    font-size: 15px;
}

.btn-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn-container .btn{
    border: none;
    background-color: blueviolet;
    color: white;
    width: fit-content;
    padding: .8rem 1.4rem;
    font-size: 14px;
    border-radius: 10px;
}